name: Build ISO x64 (BIOS isolinux)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential gcc genisoimage syslinux busybox curl xorriso

    - name: Download kernel (bzImage)
      run: |
        mkdir -p system/boot
        curl -L -o system/boot/bzImage https://github.com/Jesusdio2/CultraOS/releases/download/Dev1/Image

    - name: Compile static binary (init)
      run: |
        mkdir -p build
        gcc -static -O2 -Wall -Wextra src/init.c -o build/init

    - name: Generate initramfs
      run: |
        mkdir -p initramfs/{bin,sbin,etc,proc,sys,dev}
        cp build/init initramfs/bin/
        # añadir busybox y symlinks básicos
        cp /bin/busybox initramfs/bin/
        for cmd in sh mount ls; do ln -sf busybox initramfs/bin/$cmd; done
        cd initramfs && find . | cpio -o -H newc | gzip > ../initramfs.cpio.gz

    - name: Create ISO structure
      run: |
        mkdir -p iso_root/boot
        cp system/boot/bzImage iso_root/boot/
        cp initramfs.cpio.gz iso_root/boot/
        cat > iso_root/isolinux.cfg << 'EOF'
        DEFAULT cultra
        LABEL cultra
          KERNEL /boot/bzImage
          APPEND initrd=/boot/initramfs.cpio.gz console=ttyS0
        EOF

    - name: Get isolinux.bin and ldlinux.c32
      run: |
        mkdir syslinux
        apt-get download syslinux-common
        dpkg-deb -x *.deb syslinux
        cp syslinux/usr/lib/syslinux/modules/bios/ldlinux.c32 iso_root/
        cp syslinux/usr/lib/ISOLINUX/isolinux.bin iso_root/

    - name: Create ISO image
      run: |
        genisoimage -R -J -l \
          -b isolinux.bin \
          -c boot.cat \
          -no-emul-boot -boot-load-size 4 -boot-info-table \
          -o CultraOS-x64.iso \
          iso_root

    - name: Upload ISO
      uses: actions/upload-artifact@v6
      with:
        name: CultraOS-x64
        path: CultraOS-x64.iso
